<div class="bg-neutral p-10 rounded-md drop-shadow-2xl max-w-max">
  <h2 class="text-center font-bold text-3xl text-orange-500 capitalize font-sans">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "text-lime-500" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-neutral rounded-full" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="text-rose-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "text-lime-500" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"text-neutral rounded-full" %>
      <% if @minimum_password_length %>
        <br />
        <em class="text-lime-500"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text-lime-500" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-neutral rounded-full" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "text-lime-500"  %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"text-neutral rounded-full" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-secondary rounded-none m-5 px-24 py-2 text-gray-300 text-lg font-sans font-medium" %>
    </div>
  <% end %>

  <h3 class="text-center font-bold text-3xl text-orange-500 capitalize font-sans">Cancel my account</h3>

  <div class="text-gray-500">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, , class: "btn btn-secondary rounded-none m-5 px-24 py-2 text-gray-300 text-lg font-sans font-medium", method: :delete %></div>

  <%= link_to "Back", class: "text-gray-300" :back %>
</div>
