<div class="bg-neutral p-10 rounded-md drop-shadow-2xl">
  <h2 class="text-center font-bold text-3xl text-orange-500 capitalize font-sans">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password", class: "text-lime-500" %><br />
      <% if @minimum_password_length %>
        <em class="text-lime-500">(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"text-neutral rounded-full" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password", class: "text-lime-500" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-neutral rounded-full" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "btn btn-secondary rounded-none m-5 px-24 py-2 text-gray-300 text-lg font-sans font-medium" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
