<div class="min-w-full">
  <table class="w-2/3 m-auto text-center">
  
    <tr class="bg-neutral flex">
      <th class=" text-secondary p-3 shrink grow">Make</th>
      <th class=" text-secondary p-3 shrink grow">Model</th>
      <th class=" text-secondary p-3 shrink grow">Year</th>
      <th class=" text-secondary p-3 shrink grow">Contact Seller</th>
    </tr>

    <tbody class="w-full max-w-lg p-4 bg-black">
      <% cars.each do |car| %>
        <tr class="odd:bg-gray-200 flex">
          <td class="p-3 shrink grow"><%= car.make %></td>
          <td class="p-3 shrink grow"><%= car.model %></td>
          <td class="p-3 shrink grow"><%= car.year %></td>
          <td class="p-3 shrink grow">

            <%# <%= turbo_frame_tag 'send-sms-form' do %>
              <%= form_tag(send_sms_path, method: :post, data: { turbo: true }) do %>
                <%= hidden_field_tag :make, car.make %>
                <%= hidden_field_tag :model, car.model %>
                <%= hidden_field_tag :year, car.year %>
                <%= hidden_field_tag :phone_number, current_user.phone_number %>
                <%= submit_tag 'Interested', class: "bg-accent-focus hover:bg-accent px-4 py-2 rounded-lg text-neutral" %>
              <% end %>
            <%# <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
